<!-- <p>body works!</p> -->
<!-- <app-employee-crud></app-employee-crud> -->
 <!-- <app-pipes></app-pipes> -->
<!-- <app-life-cycle-hooks></app-life-cycle-hooks> -->
<!-- <app-employee></app-employee> -->
<!-- <app-trafficlight></app-trafficlight> -->
 <!-- <app-parent></app-parent> -->
  <!-- @if(flag){
<app-demo1></app-demo1>
  }@else{
<app-demo2></app-demo2>
  }
  <button class="btn btn-primary" (click)="flag=!flag">toggle</button> -->
  <!-- <app-employeewithservice></app-employeewithservice> -->
   <!-- <app-http-demo1></app-http-demo1>
    <app-http-demo2></app-http-demo2> -->
    <!-- <app-observabledemo1></app-observabledemo1> -->
    <!-- <app-user-crud-http></app-user-crud-http> -->
     <!-- <app-observabledemo2></app-observabledemo2> -->
      <!-- <app-observabledemo3></app-observabledemo3> -->
       <!-- <app-vs-tree></app-vs-tree> -->
        <!-- <app-message1></app-message1>
        <hr>
        <app-message2></app-message2> -->
        <!-- <app-signaldemo1></app-signaldemo1> -->
        <!-- <app-signal-effect></app-signal-effect> -->
         <!-- <app-formdemo1></app-formdemo1> -->
          <!-- <app-formdemo2-template></app-formdemo2-template> -->
           <!-- <app-forms></app-forms> -->
            <!-- <app-modeldrivenform></app-modeldrivenform> -->
             <!-- <app-dynamicform></app-dynamicform> -->
              <!-- <app-aboutus></app-aboutus>
              <app-career></app-career>
              <app-notfound></app-notfound>
              <app-home></app-home> -->
              <router-outlet></router-outlet>
