
<div class="container">
    <div class="table">
        <div class="row">
            <div class="col">
                <div class="category text-center">
                    <img src="https://m.media-amazon.com/images/I/61OU2BZyiBL._AC_SY290_.jpg" alt="">x
                    <div>Gadgets</div>
                </div>
            </div>
            
            <div class="col">
                <div class="category text-center">
                    <img src="https://m.media-amazon.com/images/I/61OU2BZyiBL._AC_SY290_.jpg" alt="">x
                    <div>Gadgets</div>
                </div>
            </div>
            
            
            
        </div>
    </div>
</div>